@use '../utils' as *;

.curiosidades {
  
  &__lista {
    padding-top: rem(20);
    margin-top: rem(-20);

    dt {
      font-family: var(--ff-ibm);
      position: relative;
      padding-left: rem(40);
      color: var(--cl-accent);
      font-weight: bold;
      margin-bottom: rem(15);
      cursor: pointer;
      transition: .3s;

      &::before {
        content: '';
        background: var(--cl-white);
        display: inline-block;
        width: rem(8);
        height: rem(8);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        display: inline-block;
        background: url('../../../assets/img/arrow.svg') no-repeat;
        background-size: cover;
        background-position: center;
        width: rem(10);
        height: rem(10);
        margin-left: 10px;
        transition: .3s;
      }

      &.ativo::after {
        content: '';
        transform: rotate(90deg);
      }
    }

    dd {
      display: none;
      margin-left: 40px;
      margin-bottom: rem(20);
      font-family: var(--ff-body);
    }
  }
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}