@use '../utils' as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: hsla(228, 19%, 5%, 0.4);
  width: 100%;
  height: 100vh;
  display: none;
  place-items: center;

  &.ativo {
    display: grid;
  }

  .ativo .modal {
    animation: modal .3s forwards;
  }

  .fechar-btn {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 50%;
    font-size: rem(22);
    display: grid;
    place-items: center;
    height: 45px;
    width: 45px;
    color: var(--cl-accent);
    background: var(--cl-vdark-blue);
    border: 3px solid var(--cl-accent);
    box-shadow: 0 0 0 5px var(--cl-vdark-blue);
    cursor: pointer;
  }

  .modal {
    background: var(--cl-vdark-blue);
    border: rem(5) solid var(--cl-accent);
    box-shadow: 0 0 0 15px var(--cl-vdark-blue);
    position: relative;
    padding: rem(40);
    border-radius: 4px;
    width: rem(600);
    max-width: 80vw;
    margin-block: rem(60);

    label {
      display: block;
      font-family: var(--ff-ibm);
      font-weight: bold;
      margin-bottom: rem(5);
    }

    input {
      width: 100%;
      padding: rem(11) rem(8);
      border-radius: 4px;
      font-size: rem(16);
      margin-bottom: rem(20);
      border: 3px solid transparent;

      &:focus {
        border-color: var(--cl-accent);
        outline: none;
      }
    }

    .login-btn {
      display: block;
      font-size: rem(16);
      background: var(--cl-vdark-blue);
      border:3px solid var(--cl-accent);
      outline: none;
      color: var(--cl-accent);
      border-radius: 4px;
      font-family: var(--ff-ibm);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: rem(1.5);
      padding: rem(10) rem(15);
      cursor: pointer;

      &:hover {
        background: var(--cl-accent);
        color: var(--cl-vdark-blue);
      }
    }

    h3 {
      margin-top: rem(20);
      text-align: center;
      font-size: rem(24);
      color: var(--cl-accent);
    }
  }
}