@use '../utils' as *;

.numeros {

  &__wrapper {
    padding-top: rem(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
  }
  
  h2 {
    max-width: rem(130);
    margin-bottom: rem(10);
    font-family: var(--ff-playfair);
    line-height: 1.2;
  }

  span {
    color: var(--cl-accent);
    font-size: rem(24);
    font-family: var(--ff-ibm);
    display: block;
    margin-top: rem(20);
  }

  .obs {
    font-size: rem(12);
    color: var(--cl-body);

    span {
      display: inline-block;
      font-size: rem(14);
    }
  }
}