@use '../utils' as *;

.numeros {

  &__wrapper {
    padding-top: rem(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
  }

  &__item {
    padding-block: rem(10) rem(20);
  h2 {
    max-width: rem(120);
    margin-bottom: rem(10);
    font-family: var(--ff-playfair);
    line-height: 1.2;
  }

  p, span {
    color: var(--cl-accent);
    font-size: rem(24);
    font-family: var(--ff-ibm);
  }

  p {
    font-size: rem(16);
  }
  }
}