@use '../utils' as *;

.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px var(--cl-accent), 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: rem(8);
  color: var(--cl-white);
  font-family: var(--ff-ibm);
  font-weight: bold;
  font-size: rem(14);
  max-width: 170px;
  border-radius: 2px;
  top: 0;
  left: 0;
}