:root {
  --cl-white: hsl(0, 0%, 100%);
  --cl-black: #000;
  --cl-accent: hsl(175, 66%, 61%);
  --cl-body: hsla(0, 0%, 100%, 0.7);
  --cl-vdark-blue: hsla(228, 19%, 5%, 1);

  --ff-playfair: 'Playfair Display SC';
  --ff-ibm: 'IBM Plex Mono';
  --ff-body: Arial, Helvetica, sans-serif;

  --bdr-radius: 5px;
  --transition-3s: .3s; 
}
